:local .beigeView,
:local .redView,
:local .greenView,
:local .editView {
  background: #F6F7F9 url('./../../patterns/minimal-beige.svg') no-repeat center center fixed;
  background-size: cover;
  color: #31283E;
  height: 100vh;
  width: 100vw;
  transition: background-color .25s, color .25s;
}

:local .editView {
  background-color: #36303f;
  color: white;
}

:local .redView {
  background: #FE5D4B url('./../../patterns/bowie.svg') no-repeat center center;
  background-size: cover;
}

:local .toolsIconWrapper {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
}