:local .actionButtonWrapper {
  display: flex;
  float: right;
  margin-top: -37px;
}

:local .actionButtonWrapper button:first-of-type {
  margin-right: 10px;
}

/* FontAwesome */
:local .icons {
  margin-right: 10px;
}
