:local .consoleWrapper {
	margin-top: 15px;
	height: 30%;

	/* width: calc(100% - 40px); */
	/* position: absolute;
	bottom: 62px;
	left: 20px; */
}

:local .headline {
	font-size: 1rem;
	margin: 0 0 .2rem 0;
}

:local .console {
	width: 100%;
	height: calc(100% - 34px);
	border: 1px solid #e5e5e5;
	background: white;
	font-size: 1rem;
	overflow-y: scroll;
}

:local .console pre {
	margin: 5px;
	color: #333;
	position: relative;
}

:local .console pre div {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding: 5px;
}

:local .console pre div:first-of-type {
	background: #fffef1;
	animation: fadeout 3s;
	animation-iteration-count: 1;
}

:local .console .timestamp {
	color: #bbb;
}

:local .console .error {
	color: #d92814;
}

:local .console .success {
	color: #14b265;
}

:local .console .info {
	color: #239efa;
}

:local .consoleWrapper.hidden .console {
	height: 59px;
}

@keyframes :local(fadeout) {
	0% {
		background-color: #FFFDD0;
	}
	100% {
		background-color: #fffef1;
	}
}

/* -----------------------------------------------------------------------------
	CONSOLE BUTTON
------------------------------------------------------------------------------*/
:local .consoleButton {
	background: transparent;
	border: none;
	color: #238F88;
	cursor: pointer;
	font-weight: 700;
	font-family: inherit;
	float: right;
	font-size: 1rem;
	margin-bottom: 0.2rem;
	width: 7rem;
	padding: 0;
	transition: color 250ms ease;
}


:local .consoleButton:hover {
	color: #214E50;
}

:local .editMode {
	color: white;
}
:local .editMode:hover {
	color: rgb(182, 182, 182);
}

/* -----------------------------------------------------------------------------
	CUSTOM SCROLL BAR
------------------------------------------------------------------------------*/

:local .console::-webkit-scrollbar-track {
	background-color: #EDEBE6;
}

:local .console::-webkit-scrollbar {
	background-color: #EDEBE6;
	width: 6px;
}

:local .console::-webkit-scrollbar-thumb {
	background-color: #FF9078;
}


/* -----------------------------------------------------------------------------
	INNER BUTTONS
------------------------------------------------------------------------------*/

:local .innerButtons {
	width: 60px;
	height: 30px;
	background-color: #eae8e2;
	position: absolute;
	right: 27px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	/* border-right: 1px solid #e5e5e5; */
	border-radius: 0 0 0 5px;
	z-index: 10;
	display: flex;
	justify-content: space-around;
}

:local .innerButtons button {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	color: #36303f;
	transition: all .2s;
}

:local .innerButtons button:hover{
	color: #fe5d4b
}

:local .minimized {
	/* right: 7px; */
}