:local .codeWrapper {
  height: calc(70% - 110px);
  position: relative;
}

#codeEditor {
  border: 1px solid rgba(0, 0, 0, .1);
  height: 100%;
  margin-top: -1px;
}

/* Small adjustment in the code theme */
.ace-tm .ace_gutter {
  background-color: #ecf0f1 !important;
}

:local .codeWrapper ul li {
  display: inline-block;
  margin-right: 2px;
  padding: 10px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #f9f9f9;
  border-bottom: none;
}

:local .codeWrapper ul li.active {
  border: 1px solid #e6e6e6;
  background: white;
  border-bottom: none;
  position: relative;
  z-index: 100;
}

:local .codeWrapper ul li:hover {
  background: #ecf0f1;
  border: 1px solid #ecf0f1;
  border-bottom: none;
  cursor: pointer;
}

:local .codeWrapper ul li.active a {
  color: #2c3e50;
}

:local .codeWrapper ul li a:hover {
  text-decoration: none;
}

:local .undo,
:local .redo {
  position: absolute;
  top: 50px;
  width: 30px;
  height: 30px;
  z-index: 100;
  font-size: 1.4rem;
  color: #ccc;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

:local .undo {
  right: 50px;
}

:local .redo {
  right: 15px;
}

:local .undo:hover,
:local .redo:hover {
  color: #b3b3b3;
}
