:local .codeWrapper {
	position: relative;
	height: 70%;
}

#codeEditor {
	border: 1px solid rgba(0, 0, 0, .1);
}

/* Small adjustment in the code theme */
.ace-tm .ace_gutter {
	background-color: #ecf0f1 !important;
}

:local .activeButton,
:local .inactiveButton {
	background-color: #fff;
	border: none;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	color: #3E3748;
	font-size: 0.8rem;
	font-weight: 700;
	height: 2.4rem;
	margin-right: 4px;
	width: 6rem;
}

:local .inactiveButton {
	background-color: #DADCDF;
	color: rgba(62, 55, 72, 0.5);
	transition: color 350ms ease, background-color 350ms ease;
}

:local .inactiveButton:hover {
	background-color: #FBFBFD;
	color: #3E3748;
}

:local .undo,
:local .redo {
	position: absolute;
	top: 43px;
	width: 30px;
	height: 30px;
	z-index: 100;
	font-size: 1.4rem;
	color: #ccc;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	font-weight: 700;
	transition: color 250ms ease;
	-webkit-font-smoothing: antialiased;
}

:local .undo {
	color: #FE5D4B;
	right: 45px;
}

:local .undo:hover {
	color: #C52522;
}

:local .redo {
	color: #3DA099;
	right: 15px;
}

:local .redo:hover {
	color: #214E50
}

:local .fontSizeButtons {
	position: absolute;
	top: 43px;
	right: 15px;
	z-index: 100;
}
:local .fontSizeButtons button {
	width: 20px;
	height: 24px;
	font-size: 1.4rem;
	color: #ccc;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	font-weight: 700;
	transition: color 250ms ease;
	-webkit-font-smoothing: antialiased;
	color: #888;
}
:local .fontSizeButtons button:hover,
:local .fontSizeButtons .active {
	color: #333;
}
:local .fontSize.small {
	font-size: 10px !important;
}
:local .fontSize.medium {
	font-size: 14px !important;
}
:local .fontSize.large {
	font-size: 20px !important;
}


:local .saveCodeButtonContainer {
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
}

:local .saveCodeButton {
	width: auto;
	float: right;
	border-radius: 2px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font: inherit;
	font-size: 1rem;
	transition: 300ms;
	text-transform: uppercase;
	padding: 1rem;
	-webkit-font-smoothing: antialiased;
	background-color: #36968e;
	position: relative;
	overflow: hidden;
}

:local .saveCodeButton:hover {
	background-color: #238F88;
}

:local .saveCodeButton span {
	margin-right: .5rem;
}

:local .saveCodeButton[disabled] {
	background: #b2b1b2;
	cursor: not-allowed;
}

:local .saveCodeButton div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2f8b56;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-100%);
	transition: all .5s;
}

:local .saveCodeButtonSaved div {
	box-shadow: 0 0 60px black;
	transform: translateX(0);
}

:local .expanded {
	height: calc(100% - 102px);
}