/* ----------------------------------------
 When in editing mode but not editing the workshop title
----------------------------------------- */
:local .notEditing {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
  :local .notEditing button {
    width: 75%;
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    transition: color 250ms ease;
  }
  :local .notEditing button:hover,
  :local .notEditing button h2:hover,
  :local .editing form button span:hover {
    color: #FE5D4B;
  }
  /* FA Icon */
  :local .notEditing button span {
    font-size: 1.3rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 5px 5px white;
    border-radius: 50%;
    padding: 0 0 0 5px;
  }
  :local .notEditing button h2 {
    font-family: 'Open Sans', sans-serif;
    color: #3E3748;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    transition: color 250ms ease;
    margin: 0;
  }

/* ----------------------------------------
 When in editing mode and editing the workshop title
----------------------------------------- */
:local .editing {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
:local .editing form {
  width: 75%;
  position: relative;
  box-shadow: 0 2px 0 #3e3748;
  animation: colorPulse .4s infinite alternate;
}
  :local .editing form button {
    width: 40px;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: color 250ms ease;
    background: linear-gradient(to right, rgba(255,255,255,1) 70%,rgba(0,0,0,0) 100%);
  }
    :local .editing form input {
      font-family: 'Open Sans', sans-serif;
      color: #3e3748;
      font-size: 1.4rem;
      margin: 0;
      padding: 0;
      font-weight: 800;
      border: none;
      border-radius: 0;
    }
    :local .editing form button span {
      font-size: 1.3rem;
      position: absolute;
      bottom: 5px;
      left: 0;
      padding-left: 5px;
    }

:local .pencilAnimation {
  animation: pencilRemove .2s forwards;
  animation-timing-function: cubic-bezier(0.58, -0.85, 1, 1);
}
:local .diskAnimation {
  animation: diskAdd .2s forwards;
  animation-delay: .2s;
  transform: scale(0);
}

@keyframes :local(pencilRemove) {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0);
  }
}
@keyframes :local(diskAdd) {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

@keyframes :local(colorPulse) {
from {
    box-shadow: 0 2px 0 rgba(62, 55, 72, .1);
}
to {
    box-shadow: 0 2px 0 #3e3748;
}
}




:local .sidebarTitle,
:local .sidebarTitleEdit,
:local .sidebarTitleButton {
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0 2rem;
  word-wrap: break-word;
}

:local .sidebarTitleButton:hover {
  color: #FE5D4B;
}

:local .sidebarTitleButton:focus,
:local .sidebarTitleButton:active {
  outline: none;
}