:local .spinner {
  background-color: transparent;
  border: 12px solid rgba(0, 0, 0, .4);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 150px;
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  animation: spinner .5s infinite linear;
  width: 128px;
  height: 128px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

@keyframes :local(spinner) {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*
 * 1. 280px === width of sidebar
 * 2. 81px === height of navigation bar
 */
:local .mainPane {
  bottom: 0;
  height: calc(100vh - 81px); /* 2 */
  transition: width 300ms ease-in-out 75ms;
  padding: 20px;
  position: fixed;
  right: 0;
  width: calc(100vw - 280px); /* 1 */
}

:local .mainPaneExpanded {
  width: calc(100vw - 28px);
}
