:local .codeButtonsWrapper {
	display: flex;
	float: right; /* To put buttons where they belong */
	margin-top: -50px;
	width: 25rem;
}
	
	:local .codeButtonsWrapper button:first-of-type {
		margin-right: 10px;
		max-height: 52px; /* So it doesn't grow when the icon gets larger */
	}
	
	:local .usbIcon {
		display: inline;
		width: 25px;
		margin: -4px 5px 0 0;
		padding: 0;
		vertical-align: middle;
		transition: transform .5s;
	}
	:local .usbIcon.uploadButtonIsAnimated {
		animation: pulse 1s infinite;
		transform-origin: center;
	}
	
	:local .usbIcon path {
		fill: white;
	}
	
	
	@keyframes :local(pulse) {
		0%  { transform: scale(1);   }
		14% { transform: scale(1.3); }
		28% { transform: scale(1);   }
		42% { transform: scale(1.3); }
		70% { transform: scale(1);   }
	}
	
	
	:local .cogwheelIcon {
		display: inline;
		height: 21px;
		margin: -6px 8px 0 0;
		padding: 0;
		vertical-align: middle;
		transition: transform .5s;
	}
	:local .cogwheelIcon.compileButtonIsAnimated {
		transform: scale(1.8);
	}
	
	:local .cogwheelIcon path {
		fill: white;
	}
	
	:local .cogwheelIcon.compileButtonIsAnimated path:nth-child(1) {
		animation: cogwheel--rotate-right 5s infinite linear;
		transform-origin: 71.6% 18.5%;
	}
	
	:local .cogwheelIcon.compileButtonIsAnimated path:nth-child(even) {
		animation: cogwheel--rotate-left 5s infinite linear;
		transform-origin: 31.5% 48.9%
	}

	:local .cogwheelIcon.compileButtonIsAnimated path:nth-child(3) {
		animation: cogwheel--rotate-right 5s infinite linear;
		transform-origin: 71.6% 79.9%;
	}
	
	@keyframes :local(cogwheel--rotate-right) {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	
	@keyframes :local(cogwheel--rotate-left) {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}