/*
 * 1. 280px === width of sidebar
 */
:local .mainPane {
  bottom: 0;
  height: 100vh;
  transition: width 300ms ease-in-out 75ms;
  padding: 20px;
  position: fixed;
  right: 0;
  width: calc(100vw - 280px); /* 1 */
}

:local .workspaceHeadline {
  font-size: 2rem;
}

:local .mainPaneExpanded {
  width: calc(100vw - 28px);
}