:local .login {
  width: 100%;
}

:local .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  background-color: #2c3e50;
}

:local .header h5 {
  color: white;
  width: 90%;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
}

/* FIXME: duplicate 'width' */
:local .header button {
  color: black;
  display: inline-block;
  width: 10%;
  width: auto;
}

:local .list {
  display: inline-block;
  padding-left: 20%;
  padding-right: 5%;
  width: 50%;
}

:local .input {
  display: inline-block;
  padding-right: 20%;
  padding-left: 5%;
  vertical-align: top;
  width: 50%;
}

:local .input a {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
}

:local .list select {
  width: 100%;
}

:local .list select option {
  font-size: 16px;
}

:local input {
  margin: 10px 0 10px 0;
  width: 100%;
}

:local textarea {
  resize: none;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
  outline: none;
  transition: all .2s ease-in-out;
  font-size: 1rem;
  margin: 0 0 20px 0;
}

:local option:hover {
  background-color: yellow;
}
