:local body {
  /* local variables */
  --blue: #3FA9F5;
  --blueLighter: #5BBAFD;
  --egg: #F1F1F1;
  --ash: #323232;
  --ashLighter: #424242;
  --white: #FFFFFF;
  --lightgrey: #CECECE;
  --salmon: #F67A8A;
}

/* -----------------------------------------------------------------------------
  NAVIGATION
------------------------------------------------------------------------------*/
:local .navigation {
  align-items: center;
  background-color: #fff;
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.1);
  color: #3E3748;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 1.1rem;
  position: fixed;
  right: -300px;
  top: 0;
  transition: right 300ms ease-in-out 75ms;
  width: 300px;
  z-index: 2;
}

:local .navigationOpen {
  align-items: center;
  background-color: #fff;
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.1);
  color: #3E3748;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
  transition: right 300ms ease-in-out 75ms;
  width: 300px;
  z-index: 2;
}

:local .navigation ul {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0 0;
}

:local .navigation li:not(:last-of-type) {
  margin-right: 4rem;
}

/*
 * 1. To remove button default styling
 */
:local .navigationButton,
:local .invitationLink {
  background: none; /* 1. */
  border: none; /* 1. */
  border-bottom: 2px solid transparent;
  color: var(--ash);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0 0 0.3em;
  text-decoration: none;
  transition: color 250ms ease, border 250ms ease;
}

:local .navigationButton:hover,
:local .invitationLink:hover {
  border-bottom: 2px solid var(--salmon);
  color: var(--salmon);
  text-decoration: none;
}

:local .navigationButton:active,
:local .navigationButton:focus {
  outline: none;
}

/* -----------------------------------------------------------------------------
  BUTTON WRAPPER
------------------------------------------------------------------------------*/

:local .buttonWrapper {
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  width: calc(100% - 2.2rem); /* To match padding on parent container */
}

/* -----------------------------------------------------------------------------
  EXIT ICON
------------------------------------------------------------------------------*/

:local .exit {
  background: url('./../../icons/exit.svg') no-repeat center left;
  background-size: 2rem;
  border: none;
  color: inherit;
  cursor: pointer;
  height: 2rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  width: 5.5rem;
  position: absolute;
  left: 1rem;
  top: 1.3rem;
}

:local .exit:focus,
:local .exit:hover {
  outline: none;
}
