/* Icon is created by Aleksandr Vector
 * and is published under CC license by
 * the Noun project. Is is found here:
 * https://thenounproject.com/term/tools/1017161
 */

 :local .toolsIconWrapper {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
 }
:local .toolsIcon {
  background: url('./../../icons/tools.svg') no-repeat center right;
  background-size: 1.7rem;
  border: none;
  color: inherit;
  cursor: pointer;
  height: 2rem;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  width: 6rem;
}

:local .toolsIcon:focus,
:local .toolsIcon:hover {
  outline: none;
}
