:local .mainNavbar {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #2c3e50;
}

:local .logo {
  letter-spacing: 5px;
  font-size: 3em;
  margin: 10px;
  font-family: "Reenie Beanie";
  color: white;
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
}

:local .workshopPinCode {
  display: inline-block;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  margin: 10px;
}

:local .logoRobot {
  background: transparent url('./../../img/robot2.png') left top no-repeat;
  background-size: 100% 100%;
  width: 60px;
  height: 57px;
  position: absolute;
  top: 3px;
  left: 25px;
  z-index: 1000;
  cursor: pointer;
}
