/* TODO: Remove commented out code if no longer used. */

:local .snippetsWrapper {
  /*background-color: rgba(0, 0, 0, .1);*/
}

 :local .snippetsWrapper>a {
  /*width: 80px;
  height: 30px;*/
  /*display: inline-block;*/
  margin-right: 10px;
  /*width: 20%;*/
}
