:local body {
  background-color: #F2F2F2;
  height: 100vh;
  width: 100%;
}

:local .logo {
  position: absolute;
  height: 5rem;
  top: -20px;
  width: 5rem;
}

:local .invite {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto 0;
  max-width: 750px;
  padding: 5rem 0.5rem 3rem;
  position: relative;
  text-align: center;
}

:local .invite h1 {
  color: #323232;
  margin: 0;
}

:local .invite p {
  color: #CBCBCB;
  font-size: 1.2rem;
  margin: 0.5rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

:local .invite button {
  background: #62BCFA;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  margin: 2rem auto;
  max-width: 18rem;
  padding: 0.8rem 0;
  transition: 300ms;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

:local button:hover {
  background: #57ADE6;
}

:local button:focus {
  outline: none;
}

/* -----------------------------------------------------------------------------
  NAVIGATION BAR
-----------------------------------------------------------------------------*/

.navigation {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: var(--cotton);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  padding-top: 1.5rem;
  position: fixed;
  right: 0;
  top: -200px;
  transition: top 300ms ease-in-out 75ms;
  width: 100vw;
  z-index: 2;
}

@media screen and (min-width: 600px) {
  .navigation {
    height: 190px;
    top: -190px;
  }
}

.navigation.navigation--visible {
  top: 0;
}

.navigation__headline {
  color: var(--cotton);
  font-size: 1.3rem;
  left: 1.3rem;
  position: absolute;
  top: 1.25rem;
}

@media screen and (min-width: 600px) {
  .navigation__headline {
    font-size: 1.8rem;
    top: 0.3rem;
  }
}


/* -----------------------------------------------------------------------------
  NAVIGATION ICON
-----------------------------------------------------------------------------*/
.nav-icon {
  cursor: pointer;
  height: 30px;
  position: absolute;
  top: 1.2rem;
  right: 1.7rem;
  transform: rotate(0deg);
  transition: 500ms ease-in-out;
  width: 42px;
  z-index: 3;
}

.nav-icon span {
  background: #323232;
  border-radius: 8px;
  display: block;
  height: 8px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: 250ms ease-in-out;
  width: 100%;
}

.nav-icon span:nth-child(1) {
  top: 0;
}

.nav-icon span:nth-child(2),.nav-icon span:nth-child(3) {
  top: 13px;
}

.nav-icon span:nth-child(4) {
  top: 26px;
}

.nav-icon.open span {
  background: #323232;
}

.nav-icon.open span:nth-child(1) {
  left: 50%;
  top: 13px;
  width: 0%;
}

.nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  left: 50%;
  top: 13px;
  width: 0;
}

