:local body {
  /* local variables */
  --blue: #3FA9F5;
  --blueLighter: #5BBAFD;
  --egg: #F1F1F1;
  --ash: #323232;
  --ashLighter: #424242;
  --white: #FFFFFF;
  --lightgrey: #CECECE;
  --salmon: #F67A8A;

  background-color: var(--egg);
  height: 100vh;
  width: 100%;
}

:local .logo {
  position: absolute;
  height: 5rem;
  top: -20px;
  width: 5rem;
}

:local .invite {
  align-items: center;
  background-color: var(--white);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem auto 0;
  max-width: 750px;
  padding: 5rem 0.5rem 3rem;
  position: relative;
  text-align: center;
}

:local .invite h1 {
  color: var(--ash);
  margin: 0;
}

:local .invite p {
  color: var(--ashLighter);
  font-size: 1.2rem;
  margin: 0.5rem;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

:local .invite .button {
  background: var(--blue);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  margin: 2rem auto;
  padding: 0.8rem 0;
  transition: 300ms;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  max-width: 18rem;
}

:local .invite .button:hover {
  background: var(--blueLighter);
}

:local .invite .button:focus {
  outline: none;
}

/* -----------------------------------------------------------------------------
  NAVIGATION BAR
------------------------------------------------------------------------------*/
:local .navigation {
  align-content: center;
  border-bottom: 1px solid var(--lightgrey);
  display: flex;
  justify-content: flex-end;
  position: absolute;
  padding: 1.5rem 2rem;
  top: 0;
  left: 0;
  width: 100vw;
}

:local .navigation ul {
  display: flex;
  padding: 0;
}

:local .navigation li:not(:last-of-type) {
  margin-right: 4rem;
}

/*
 * 1. To remove button default styling
 */
:local .navigationLink,
:local .invitationLink {
  background: none; /* 1. */
  border: none; /* 1. */
  border-bottom: 2px solid transparent;
  color: var(--ash);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0 0 0.3em;
  text-decoration: none;
  transition: color 250ms ease, border 250ms ease;
}

:local .navigationLink:hover,
:local .invitationLink:hover {
  border-bottom: 2px solid var(--salmon);
  color: var(--salmon);
  text-decoration: none;
}

/* -----------------------------------------------------------------------------
  INVITATION LINK
------------------------------------------------------------------------------*/

:local .invite .invitationWrapper {
  align-content: center;
  color: var(--blue);
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  margin: 0.5rem 0;
  width: 100%;
}

:local .invite .invitationURL {
  border-bottom: 1px solid var(--blue);
  color: inherit;
  font-size: inherit;
  margin: 0 1rem 0 0;
  padding-bottom: 0.3em;
}

:local .invite .shortCuts {
  background: none;
  border: 1px solid var(--blue);
  border-radius: 2px;
  color: var(--blue);
  cursor: pointer;
  font-size: 0.8rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  width: 2rem;
  transition: 300ms;
}

:local .invite .shortCuts:hover {
  background: var(--blueLighter);
  color: white;
  outline: none;
}

:local .invite .shortCuts:focus {
  outline: none;
}

:local .invite .envelope {
  padding-top: 0.28rem;
}
