.screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  animation: bgcolor 20s infinite;
  animation-direction: alternate;
}

@keyframes bgcolor {
  0% {
    background: #18bc9c;
  }
  33% {
    background: #3498db;
  }
  66% {
    background: #f39c12;
  }
  100% {
    background: #e74c3c;
  }
}

:local .wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

:local .loginField {
  width: 20vw;
  min-width: 250px;
  margin: 0 auto;
}

:local .logo {
  font-family: "Reenie Beanie";
  font-size: 10rem;
}

:local .workshopNotFound {
  font-family: "Reenie Beanie";
  font-size: 2.5rem;
  color: #333;
  padding-top: 130px;
  text-align: center;
  transform: rotate(-6deg);
}
