/*
* 1. 81px is the height of the navigation bar.
*/
:local .mainSidebar {
  background-color: #fff;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: #3E3748;
  height: calc(100vh - 81px); /* 1 */
  left: 0;
  position: fixed;
  padding: 2rem 0 0.5rem;
  width: 280px;
  transition: left 300ms ease-in-out 75ms;
  top: 81px; /* 1 */
  text-align: center;
}

:local .mainSidebarClosed {
  left: -252px;
}

:local .mainSidebar .content {
  width: 90%;
  display: inline-block;
}

:local .sidebarTitle {
  color: inherit;
  font-size: 1.5rem;
}

/* -----------------------------------------------------------------------------
  SEPERATING WAVE
------------------------------------------------------------------------------*/
:local .wave {
  background: url('./../../patterns/wave.svg') no-repeat center left;
  background-size: 100%;
  height: 25px; /* Total height on svg */
  margin: 0 auto;
  width: 90%;
}

/* -----------------------------------------------------------------------------
  PINCODE
------------------------------------------------------------------------------*/

:local .pinCode {
  background-color: #FE5D4B;
  border-radius: 20px;
  color: #fff;
  display: inline;
  font-size: 0.8rem;
  padding: 0.5rem 2rem;
}

/* -----------------------------------------------------------------------------
  TOGGLE SIDEBAR BUTTON
------------------------------------------------------------------------------*/
:local .toggleSidebarButton {
  background: none;
  border: none;
  cursor: pointer;
  height: 100vh;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, .2);
}

:local .toggleSidebarButton:focus,
:local .toggleSidebarButton:active {
  outline: none;
}

:local .toggleSidebarButton:hover {
  color: #FE5D4B;
}

:local .toggleSidebarButton span {
  margin: 0 auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotateY(0deg);
  transition: all 250ms;
  top: 50%;
}

:local .mainSidebar .toggleSidebarButton span.rotated {
  transform: translate(-50%, -50%) rotateY(180deg);
}

/* -----------------------------------------------------------------------------
  PARTSLIST
------------------------------------------------------------------------------*/

:local .mainSidebar .partList {
  margin-top: 20px;
  height: 50vh;
}

:local .mainSidebar .partList li,
:local .mainSidebar .referenceList li {
  margin: 5px 0 0 40px;
  font-size: 1.2rem;
}

:local .mainSidebar .partList li a,
:local .mainSidebar .referenceList li a {
  margin-left: 5px;
}

:local .mainSidebar .partList li.active a {
  font-weight: bold;
}

:local .mainSidebar .referenceList {
  margin-top: 20px;
}
