:local .mainSidebar {
  position: relative;
  background-color: #ecf0f1;
  float: left;
  width: 350px;
  height: calc(100vh - 50px);
  border-right: 1px solid rgba(0, 0, 0, .12);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
  transition: margin-left .5s;
}

:local .mainSidebarClosed {
  margin-left: -316px;
}

:local .mainSidebar .content {
  width: 90%;
  display: inline-block;
}

:local .mainSidebar h2 {
  text-align: center;
}

:local .mainSidebar .closeBtn {
  vertical-align: top;
  display: inline-block;
  width: 10%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  height: 100%;
  color: rgba(0, 0, 0, .2);
}

:local .mainSidebar .closeBtn:hover {
  color: #18bc9c;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .04) 80%);
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .04) 80%);
  background: linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .04) 80%);
}

:local .mainSidebar .closeBtn span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  margin: 0 auto;
  transition: all .7s;
}

:local .mainSidebar .closeBtn span.rotated {
  transform: translate(-50%, -50%) rotateY(180deg);
}

:local .mainSidebar .partList {
  margin-top: 20px;
  height: 50vh;
}

:local .mainSidebar .partList li,
:local .mainSidebar .referenceList li {
  margin: 5px 0 0 40px;
  font-size: 1.2rem;
}

:local .mainSidebar .partList li a,
:local .mainSidebar .referenceList li a {
  margin-left: 5px;
}

:local .mainSidebar .partList li.active a {
  font-weight: bold;
}

:local .mainSidebar .referenceList {
  margin-top: 20px;
}
