:local body {
  /* local variables */
  --blue: #3FA9F5;
  --blueLighter: #5BBAFD;
  --egg: #F1F1F1;
  --ash: #323232;
  --ashLighter: #424242;
  --white: #FFFFFF;
  --lightgrey: #CECECE;
  --salmon: #F67A8A;

  background-color: var(--egg);
  height: 100vh;
  width: 100%;
}

:local .header {
  align-items: center;
  border-bottom: 1px solid var(--lightgrey);
  display: flex;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  padding: 0.9rem 1.5rem;
  width: 100vw;
}

:local .logo {
  height: 3rem;
  width: 3rem;
}

/* -----------------------------------------------------------------------------
  NAVIGATION
------------------------------------------------------------------------------*/
:local .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

:local .navigation ul {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0 0;
}

:local .navigation li:not(:last-of-type) {
  margin-right: 4rem;
}

/*
 * 1. To remove button default styling
 */
:local .navigationButton,
:local .invitationLink {
  background: none; /* 1. */
  border: none; /* 1. */
  border-bottom: 2px solid transparent;
  color: var(--ash);
  cursor: pointer;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0 0 0.3em;
  text-decoration: none;
  transition: color 250ms ease, border 250ms ease;
}

:local .navigationButton:hover,
:local .invitationLink:hover {
  border-bottom: 2px solid var(--salmon);
  color: var(--salmon);
  text-decoration: none;
}

:local .navigationButton:active,
:local .navigationButton:focus {
  outline: none;
}
