:local .workshopPropertiesWrapper h2 {
	font-size: 1.5rem;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
:local .workshopPropertiesWrapper h2::after {
	content: 'HEJHEJ'
}
	:local .workshopPropertiesWrapper form {
		background: rgba(255, 255, 255, 1);
		padding: 2rem;
		border-radius: 5px;
	}    

	:local .workshopPropertiesWrapper .workshopMarksWrapper span {
		font-size: 1rem;
		display: block;
		color: #3E3748;
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom: 10px;
	}

	:local .workshopPropertiesWrapper .workshopMarksWrapper select {
		display: inline-block;
		width: auto;
		cursor: pointer;
		padding: 10px 40px 10px 15px;
		outline: 0;
		border: 1px solid #666;
		border-radius: 0;
		background: #ffffff;
		-webkit-appearance: none;
		margin: 0 10px 0 0;
		-moz-appearance: none;
		font-size: 1rem;
		font-family: 'Open Sans', sans-serif;
		color: #37303f;
		position: relative;
		max-width: 300px;
	}
		:local .workshopPropertiesWrapper .workshopMarksWrapper select::after {
			position: absolute;
			content: 'X';
			top: 0;
			left: 0;
			color: red;
		}
		:local .workshopPropertiesWrapper .workshopMarksWrapper select:hover {
			border: 1px solid black;
			color: black;
		}

:local .selectWrapper {
	display: inline-block;
	position: relative;
}
	:local .selectWrapper::after {
		font-family: 'FontAwesome';
		content: '\f078';
		color: #666;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		transition: color .3s;
	}

	:local .selectWrapper:hover::after {
		color: black;
	}