.screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  animation: bgcolor 20s infinite;
  animation-direction: alternate;
}

@keyframes bgcolor {
  0% {
    background: #18bc9c;
  }
  33% {
    background: #3498db;
  }
  66% {
    background: #f39c12;
  }
  100% {
    background: #e74c3c;
  }
}

:local .wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

:local .loginField {
  width: 20vw;
  min-width: 250px;
  margin: 0 auto;
}

:local .logo {
  font-family: "Reenie Beanie";
  font-size: 10rem;
}

:local input {
  display: block;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
  outline: none;
  transition: all .2s ease-in-out;
  font-size: 1rem;
  margin-top: 40px;
}

 :local input:focus {
  border: 2px solid #2c3e50;
}

:local button {
  width: 100%;
}

:local .workshopNotFound {
  font-family: "Reenie Beanie";
  font-size: 2.5rem;
  color: #333;
  /*position: absolute;*/
  /*left: 50%;*/
  /*bottom: 25%;*/
  /*width: 300px;*/
  /*transform: translateX(-50%) rotate(-10deg);*/
  padding-top: 130px;
  text-align: center;
  transform: rotate(-6deg);
}


/*:local .workshopNotFound::after {
        content: '';
        background: transparent url('./../../img/loginArrow.png') left top no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: -120px;
        right: -200px;
        width: 192px;
        height: 200px;
        transform: skew(-10deg);
    }*/
