@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  background-color: rgba(0, 0, 0, .1);
  margin: 0 auto;
  width: calc(100% - 40px);
}

a {
  color: #18bc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px dashed rgba(0, 0, 0, .1);
  border-bottom: 1px dashed rgba(255, 255, 255, .2);
  width: 100%;
}

button:active,
button:focus {
  outline: none;
}

/* BUTTONS */
.button {
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  text-decoration: none;
}

.button.default {
  background-color: #95a5a6;
  border-color: #95a5a6;
}

.button.default:hover {
  background-color: #798d8f;
  border-color: #74898a;
}

.button.primary {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.button.primary:hover {
  background-color: #1a242f;
  border-color: #161f29;
}

.button.success {
  background-color: #18bc9c;
  border-color: #18bc9c;
}

.button.success:hover {
  background-color: #128f76;
  border-color: #11866f;
}

.button.info {
  background-color: #3498db;
  border-color: #3498db;
}

.button.info:hover {
  background-color: #217dbb;
  border-color: #2077b2;
}

.button.warning {
  background-color: #f39c12;
  border-color: #f39c12;
}

.button.warning:hover {
  background-color: #c87f0a;
  border-color: #be780a;
}

.button.danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.button.danger:hover {
  background-color: #d62c1a;
  border-color: #cd2a19;
}

.button.xs {
  padding: 3px 5px;
  border-radius: 3px;
  font-size: .8rem;
}

.button.disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button.disabled:hover {
  background-color: #18bc9c;
  border-color: #18bc9c;
}
