:local .header {
	background-color: #fff;
	color: #31283E;
	align-items: center;
	border-bottom: 4px solid #EDEBE6;
	display: flex;
	justify-content: space-between;
	min-height: 55px;
	left: 0;
	position: static;
	top: 0;
	width: 100vw;
}

:local .headerTitle {
	color: inherit;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 22px;
	font-weight: 400;
	margin: 0 20px;
	padding: 0;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

:local .workshops nav {
	margin: 20px;
}
	:local .workshops nav ul li {
		display: inline-block;
		margin-right: 20px;
	}
	:local .workshops nav ul li button {
		padding: 10px 20px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		border: none;
		font-size: 1rem;
		background-color: transparent;
		border: 2px solid white;
		color: white;
		cursor: pointer;
	}

	:local nav ul li.activeTab button {
		background-color: rgba(0, 0, 0, .5);
	}